$white: #fff;
$black: #1f2939;

$grey: #e0e5eb;

$grey50: #f8f9fa;
$grey100: #f2f5f8;
$grey300: #ced5de;
$grey400: #9da6b4;
$grey500: #697180;

$danger-lighter: #fee3e3;
$danger-light: #fed7d7;
$danger: #c53030;
$danger-dark: #9b2c2c;
