@import '@/shared/styles';

.pagination {
  display: inline-flex;
  gap: 0.8rem;

  &__pageLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.4rem;
    border: 1px solid $grey300;
    border-radius: 0.6rem;
    user-select: none;

    @include hover() {
      background-color: $grey100;
      cursor: pointer;
    }
  }

  &__pageLinkActive {
    background-color: $grey100;
  }
}
